html{
font-size:62.5%;
}



.main_img{
 background: url("/skillman_web/static/src/img/consultancy-5.jpg");
   background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height:50vh;

  display:flex;
  flex-direction:column;
  justify-content:center;
 padding-left:5rem;
 color:white;


}
.main_img h1{

font-size:3.5rem;
font-weight:bold;
}
.main_img p{
font-size:1.8rem;
}

.rm_imgs{
width:100%;
display:flex;
justify-content:space-around;
}
.img_cntnr{
width:20%;
}
.img_cntnr img{
width:100%;
}

.r_btn{
width:100%;
background:black;
color:white;
font-size:2rem;
}

ol{
    list-style: none;
    display: flex;
    font-size: 1.8rem;
    color: white;
}
ol li a{
color:white;
}
ol li a:hover{
color:white;
}

.vc_single_image-wrapper{
margin:auto;
width:71%;
}
.line_bar{
width:90%;
margin:auto;
height:.4rem;
background:#23C2E4;
margin-top:4rem;
}




 .container {
                    position: relative;
                    width: 20%;
                    }

                    .image {
                    display: block;
                    width: 100%;
                    height: auto;
                    }

                    .overlay {
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    overflow: hidden;
                    width: 100%;
                    height: 0;
                    transition: .5s ease;
                    }

                    .container:hover .overlay {
                    height: 100%;
                    width:100%;
                    }

                    .text {
                    color: white;
                    font-size: 50px;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    -webkit-transform: translate(-50%, -50%);
                    -ms-transform: translate(-50%, -50%);
                    transform: translate(-50%, -50%);
                    text-align: center;
                    }

                    #overlay_first{
                    background:#F9D675;

                    }
                      #overlay_sec{
                    background:#E09191;

                    }  #overlay_third{
                    background:#619CA5;

                    }  #overlay_fourth{
                    background:#999999;

                    }





/*media queries*/

@media (min-width:992px) and (max-width:1500px) {
    html {
        font-size: 55%
    }



}

@media (min-width:768px) and (max-width:992px) {
    html {
        font-size: 50%
    }



}

@media (min-width:576px) and (max-width:768px) {
    html {
        font-size: 45%
    }



}


@media (max-width:576px) {
    html {
        font-size: 40%
    }
    .vc_row{
    flex-direction:column;
    width:100%;
    margin:auto;
    }
    .wpb_column{
    margin:auto;
    }
    .rm_imgs{
    flex-direction:column;
    width:100%;
    }
    .container{
    width:100%;
    margin-top:2rem;
    }







    }



    