html{
font-size:62.5%;
}

.main_gen{
display:flex;
width:100%;
flex-direction:column;
}



.main_sec{
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
width:100%;
height:30vh;
background:#F7F7F7;
}
.main_sec h1{
font-size:4rem;
font-weight:bold;
}
.main_sec p{
font-size:1.6rem;
color:#B8B7CC;
}
.main_sec_para{
display:flex;
flex-direction:column;
width:90%;
margin:auto;
margin-top:1rem;
}
.main_sec_para h2{
font-size:2.5rem;
font-weight:bold;
}
.main_sec_para p{
font-size:1.8rem;
color:gray;
line-height:4rem;

}
.f_link_p{
text-decoration:underline;
}

.eq_head{
font-size:5rem;
font-weight:bold;
}
.listing__item a{
font-size:2rem;
text-decoration:underline;
}

.last_heading{

margin:auto;
text-align:center;
font-weight:bold;
font-size:3rem;
color:#333346;
margin-bottom:16rem;
}

.line_data #track_p{
color:black;
}
.talking{
font-weight:bold;
margin:auto;
width: 90%;
margin-bottom:4rem;
margin-top:8rem;
}

/*media queries*/

@media (min-width:992px) and (max-width:1500px) {
    html {
        font-size: 55%
    }



}

@media (min-width:768px) and (max-width:992px) {
    html {
        font-size: 50%
    }



}

@media (min-width:576px) and (max-width:768px) {
    html {
        font-size: 45%
    }



}


@media (max-width:576px) {
    html {
        font-size: 40%
    }

.talking{
width:100%;
text-align:center;
}
hr{
display:none;
}

    }




